.benefits {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 120px 0;
  flex-wrap: wrap;

  @include vp-1365 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 71px 0 51px 0;
  }
}

.benefits__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 120px;

  @include vp-1365 {
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding: 0 0 70px 0;
  }

  li {
    position: relative;
    display: flex;
    min-width: 240px;
    max-width: 340px;
    user-select: none;
    place-self: center;
    padding-bottom: 22px;

    @include vp-1365 {
      padding-bottom: 0;
      max-width: 314px;
    }

    @include vp-767 {
      max-width: 226px;
      align-items: center;
      justify-content: center;
    }
  }

  li:first-child {
    @include vp-1365 {
      dl {
        gap: 14px;
      }
    }

    @include vp-767 {
      dl {
        gap: 11px;
      }

      p {
        width: 160px;
      }
    }
  }

  li:nth-child(4n-2) {
    dl {
      gap: 25px;

      @include vp-1365 {
        gap: 10px;
      }
    }
  }

  li:nth-child(7n-2) {
    dl {
      gap: 25px;

      @include vp-1365 {
        gap: 10px;
      }
    }
  }

  li:nth-child(4n) {
    @include vp-1365 {
      dl {
        gap: 16px;
      }
    }

    @include vp-767 {
      p {
        width: 160px;
      }

      dl {
        gap: 11px;
      }
    }
  }

  li:last-child {
    @include vp-1365 {
      dl {
        gap: 5px;
      }
    }

    @include vp-767 {
      dl {
        gap: 11px;
      }
    }
  }

  h2 {
    @include primary-semibold(54px, 54px);
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: $color-sapphire;
    margin-bottom: 50px;
    letter-spacing: 1.62px;
    flex-wrap: wrap;
    user-select: none;

    @include vp-1365 {
      @include primary-semibold(42px, 42px);
      letter-spacing: 1.26px;
    }

    @include vp-767 {
      @include primary-semibold(32px, 32px);
      letter-spacing: 0.96px;
      margin-bottom: 54px;
    }
  }

  h3 {
    @include secondary-regular(22px, 22px);
    display: flex;
    margin: 0;
    padding: 0;
    color: $color-sapphire;
    margin-bottom: 8px;
    flex-wrap: wrap;

    @include vp-1365 {
      @include secondary-regular(20px, 20px);
      margin-bottom: 12px;
    }

    @include vp-767 {
      @include secondary-regular(18px, 20px);
      justify-content: center;
    }
  }

  ul {
    display: grid;
    grid-template-columns: 340px 240px 340px;
    grid-template-rows: auto auto;
    grid-auto-rows: auto;
    gap: 116px 60px;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;

    @include vp-1365 {
      grid-template-columns: 314px 314px;
      gap: 40px 50px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      gap: 35px;
    }
  }

  dl {
    display: flex;
    gap: 30px;
    margin: 0;
    flex-wrap: nowrap;

    @include vp-1365 {
      gap: 10px;
    }

    @include vp-767 {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }

  dt {
    @include secondary-regular(14px, 22px);
    display: flex;
    flex-direction: column;
    width: 107px;
    color: $color-persian-blue;
    margin: 0;

    @include vp-767 {
      @include secondary-regular(14px, 20px);
      align-items: center;
    }
  }

  dd {
    display: flex;
    margin: 0;
    flex-direction: column;
    width: 100%;
  }

  li:nth-child(3n) {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row: 1 / -1;
    width: 240px;
    flex-direction: column;
    align-items: center;
    color: $color-default-white;
    margin-top: 4px;
    padding-top: 70px;
    padding-bottom: 77px;
    background-color: $color-sapphire;

    @include vp-1365 {
      grid-row-start: 2;
      grid-row-end: 2;
      grid-column: 1 / -1;
      max-width: 400px;
      width: 400px;
      padding: 35px 35px;
      margin-top: 0;
    }

    @include vp-767 {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column: 1 / -1;
      max-width: none;
      width: 1vw;
      padding: 0;
      padding-top: 30px;
      padding-bottom: 39px;
      margin-top: 6px;
      margin-bottom: 5px;
    }

    b {
      display: flex;
      color: $color-default-white;
      background: transparent;
      background-clip: inherit;
      -webkit-background-clip: inherit;
      -webkit-text-fill-color: $color-default-white;
      margin-bottom: 13px;
      padding-left: 2px;
      flex-wrap: wrap;

      @include vp-1365 {
        margin-bottom: 25px;
        padding-right: 3px;
      }

      @include vp-767 {
        margin-bottom: 6px;
        padding-right: 1px;
      }
    }

    span {
      @include secondary-bold(26px, 26px);
      margin-bottom: 35px;

      @include vp-1365 {
        @include secondary-bold(24px, 24px);
        margin-bottom: 25px;
      }

      @include vp-767 {
        @include secondary-bold(22px, 22px);
        margin-bottom: 19px;
      }
    }

    p {
      @include secondary-regular(16px, 24px);
      display: flex;
      justify-content: center;
      width: 172px;
      text-align: center;
      color: $color-default-white;
      margin-bottom: 1px;
      flex-wrap: wrap;

      @include vp-1365 {
        @include secondary-regular(16px, 24px);
        width: 210px;
      }

      @include vp-767 {
        @include secondary-regular(14px, 22px);
        width: 210px;
      }
    }

    br {
      display: none;

      @include vp-767 {
        display: block;
      }
    }
  }

  li:nth-child(n+4) {
    &::before {
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: -57px;
      left: 0;
      background-color: $color-crimson-02;

      @include vp-1365 {
        display: none;
      }
    }
  }

  p {
    @include secondary-light(16px, 24px);
    display: flex;
    margin: 0;
    padding: 0;
    color: $color-sapphire;
    flex-wrap: wrap;

    @include vp-767 {
      @include secondary-light(14px, 22px);
      justify-content: center;
      text-align: center;
    }
  }

  b {
    @include secondary-bold(70px, 70px);
    display: flex;
    color: $color-sapphire;
    background: linear-gradient(128deg, #d10a42 0%, #0041ca 45.58%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    flex-wrap: wrap;

    @include vp-767 {
      @include secondary-bold(64px, 64px);
      margin-left: -1px;
      margin-bottom: 1px;
    }
  }
}
