.gym {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.gym__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0 235px 0;
  gap: 145px;
  flex-wrap: wrap;

  @include vp-1365 {
    flex-direction: column;
    gap: 38px;
    padding: 100px 0 184px 0;
  }

  @include vp-767 {
    gap: 52px;
    padding-top: 70px;
    padding-bottom: 74px;
  }
}

.gym__content {
  display: flex;
  width: 355px;
  flex-direction: column;

  @include vp-1365 {
    width: 502px;
    align-items: center;
  }

  @include vp-767 {
    width: 100%;
    padding: 0 15px;
  }

  h2 {
    @include primary-semibold(54px, 54px);
    display: flex;
    margin: 0;
    margin-top: -12px;
    padding: 0;
    color: $color-sapphire;
    margin-bottom: 29px;
    letter-spacing: 1.62px;
    flex-wrap: wrap;

    @include vp-1365 {
      @include primary-semibold(42px, 42px);
      margin: 0;
      margin-bottom: 20px;
      letter-spacing: 1.26px;
    }

    @include vp-767 {
      @include primary-semibold(32px, 32px);
      margin-bottom: 12px;
      letter-spacing: 0.96px;
      margin-right: auto;
      text-align: left;
    }
  }

  h3 {
    @include secondary-regular(22px, 22px);
    display: flex;
    margin: 0;
    padding: 0;
    color: $color-sapphire;
    margin-bottom: 94px;
    flex-wrap: wrap;

    @include vp-1365 {
      @include secondary-regular(20px, 20px);
      margin-left: -5px;
      margin-bottom: 33px;
    }

    @include vp-767 {
      @include secondary-regular(18px, 20px);
      margin-bottom: 38px;
      text-align: left;
      margin-left: 0;
      margin-right: auto;
    }
  }

  p {
    @include secondary-light(16px, 24px);
    display: flex;
    margin: 0;
    padding: 0;
    color: $color-sapphire;
    flex-wrap: wrap;

    @include vp-1365 {
      text-align: center;
    }

    @include vp-767 {
      @include secondary-light(14px, 22px);
      text-align: left;
    }
  }

  br {
    display: none;

    @include vp-767 {
      display: flex;
    }
  }

  span {
    padding-top: 8px;

    @include vp-1365 {
      display: none;
    }
  }
}

.gym__image-container {
  z-index: -3;

  img {
    @include vp-1365 {
      width: 678px;
      height: 345px;
    }

    @include vp-767 {
      width: 320px;
      height: 313px;
    }
  }
}

.gym__movie-container {
  position: absolute;
  bottom: 120px;
  left: calc(50% - 143px);
  width: 364px;
  height: 228px;
  border-width: 0;
  outline-width: 0;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: $color-dark-cerulean;
    opacity: 0.5;
    z-index: 6;
  }

  iframe {
    position: absolute;
    width: 364px;
    height: 228px;
    z-index: -3;
  }

  img {
    background-color: $color-dark-cerulean;
    position: absolute;
    width: 364px;
    height: 228px;
    z-index: 3;
  }

  @include vp-1365 {
    width: 266px;
    height: 167px;
    bottom: 101px;
    left: calc(50% - 133px);

    iframe {
      width: 266px;
      height: 167px;
      z-index: -3;
    }

    img {
      width: 266px;
      height: 167px;
      z-index: 3;
    }
  }

  @include vp-767 {
    margin-top: -12px;
    position: initial;
    width: 320px;
    height: 167px;

    iframe {
      width: 320px;
      height: 167px;
      z-index: -3;
    }

    img {
      width: 320px;
      height: 167px;
      z-index: 3;
    }
  }

  button {
    position: absolute;
    display: block;
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    border: 0;
    border-radius: 50%;
    background: linear-gradient(97deg, #ed0233 17.6%, #003eb7 95.31%);
    outline: 2px solid $color-torch-red-02;
    outline-offset: 12px;
    padding: 0;
    margin: 0;
    z-index: 10;
    cursor: pointer;
    transition: $trans-default;

    @include vp-767 {
      width: 52px;
      height: 52px;
      top: auto;
      left: calc(50% - 26px);
      bottom: 135.5px;
      outline-offset: 8px;
    }

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      top: calc(50% - 7.5px);
      left: calc(50% - 3.5px);
      border-top: 7.5px solid rgba(0, 0, 0, 0);
      border-right: none;
      border-bottom: 7.5px solid rgba(0, 0, 0, 0);
      border-left: 13px solid $color-default-white;
      box-sizing: border-box;

      @include vp-767 {
        width: 10px;
        height: 10px;
        top: calc(50% - 5px);
        left: calc(50% - 3.5px);
        border-top: 5.5px solid rgba(0, 0, 0, 0);
        border-bottom: 5.5px solid rgba(0, 0, 0, 0);
        border-left: 9px solid $color-default-white;
      }
    }
  }

  button:focus {
    outline: none;
  }

  button:hover,
  button:focus-visible,
  button:disabled {
    background: $color-default-white;
    outline: none;
    outline-offset: none;

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      top: calc(50% - 7.5px);
      left: calc(50% - 3.5px);
      border-top: 7.5px solid rgba(0, 0, 0, 0);
      border-right: none;
      border-bottom: 7.5px solid rgba(0, 0, 0, 0);
      border-left: 13px solid $color-sapphire;
      box-sizing: border-box;
      z-index: 12;
      transition: $trans-default;

      @include vp-767 {
        width: 10px;
        height: 10px;
        top: calc(50% - 5px);
        left: calc(50% - 3.5px);
        border-top: 5.5px solid rgba(0, 0, 0, 0);
        border-bottom: 5.5px solid rgba(0, 0, 0, 0);
        border-left: 9px solid $color-sapphire;
      }
    }

    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 100px;
      height: 100px;
      top: calc(50% - 50px);
      left: calc(50% - 50px);
      border-radius: 50%;
      background-color: $color-default-white;
      border: 2px solid $color-sapphire;
      box-sizing: border-box;
      z-index: 11;
      transition: $trans-default;

      @include vp-767 {
        width: 60px;
        height: 60px;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
      }
    }
  }


  button:disabled {
    pointer-events: none;

    &::before {
      border-left: 13px solid $color-sapphire-04;

      @include vp-767 {
        border-left: 9px solid $color-sapphire-04;
        border-top: 5.5px solid rgba(0, 0, 0, 0);
        border-bottom: 5.5px solid rgba(0, 0, 0, 0);
      }
    }

    &::after {
      border: 2px solid $color-sapphire-04;
    }
  }
}
