@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

/* Desktop first */

@mixin vp-1365 {
  @media (max-width: ($vp-1366 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-319 {
  @media (max-width: ($vp-320 - 1px)) {
    @content;
  }
}


/* не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
 этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта


/* ---------------------------------------------------------------------------------------------------------
// ПРЕДЛАГАЮ включить в стандартную сборку Корпорации простейший, но супер полезный миксин, подключающий шрифты.
// Одна строка - заменяет 4(!) строки и чётко соотносит шрифт с определениями из Style Guide.
// И самое главное, этот миксин очень часто используется, что экономит сотни строк кода.
// Привыкание к этому миксину практически мгновенное.

// Alumni Sans --> Primary Font  (инфо из Style Guide)
// Roboto Condensed --> Secondary Font (инфо из Style Guide) */


@mixin primary-semibold($font_size, $line_height) {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: $font_size;
  line-height: $line_height;
}

@mixin primary-bold($font_size, $line_height) {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: $font_size;
  line-height: $line_height;
}

@mixin primary-extrabold($font_size, $line_height) {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 800;
  font-size: $font_size;
  line-height: $line_height;
}

@mixin secondary-light($font_size, $line_height) {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 300;
  font-size: $font_size;
  line-height: $line_height;
}

@mixin secondary-regular($font_size, $line_height) {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: $font_size;
  line-height: $line_height;
}

@mixin secondary-bold($size, $line_height) {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: $size;
  line-height: $line-height;
}


@mixin slow_apperance($apperance_time) {
  @keyframes fadeInFromNone {
    0% {
      opacity: 0;
    }

    1% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  animation: fadeInFromNone $apperance_time ease-in-out;
}

@mixin slow_slide_apperance($apperance_time) {
  @keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
    }

    1% {
      display: flex;
      opacity: 0;
    }

    100% {
      display: flex;
      opacity: 1;
    }
  }
  animation: fadeInFromNone $apperance_time ease-in-out;
}
